body { 
    background-color: bisque;
    background-image: url('https://www.w3schools.com/w3images/fjords.jpg');
}
h1 {
    font-family: Georgia;
    color: red;
    border: 2px solid rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    background-color: black;
    opacity: 1;
}
img {
    width: 100px;
    height: 100px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom: 0;
}
p {
    font-family: 'Times New Roman', Times, serif;
    color: tomato;
    background-color: rgb(0, 0, 0);
    opacity: 1;
}
address {
    text-align: center;
    color: tomato;
    background-color: rgb(0, 0, 0);
    opacity: 1;
}